<section class="container-fluid d-flex p-2 justify-content-end align-items-center vh-100">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 text-right">
        <h3 class="text-orange">Location</h3>
        <hr class="bg-orange">
        <ul class="list-unstyled">
          <li>92 W Vaughn Ave</li>
          <li>Gilbert, AZ 85233</li>
          <li><a href="" class="text-orange-light">Get Directions</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-left">
        <h3 class="text-orange">Contacts</h3>
        <hr class="bg-orange">
        <ul class="list-unstyled">
          <li><span class="text-orange-light">Phone:</span> +1 (602) 123-4567</li>
          <li><span class="text-orange-light">Fax:</span> +1 (602) 123-4567</li>
          <li><span class="text-orange-light">Email:</span> info@anygym.com</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-orange-light-80">
          <div class="card-body">
            <h3 class="card-title py-3">Request Free One Day Pass!</h3>
            <a href="/trial" class="btn hvr-bounce-to-right">Get a Free Pass!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-orange-dark-80">
          <div class="card-body">
            <h3 class="card-title py-3">Compare Memberships</h3>
            <a href="/memberships" class="btn hvr-bounce-to-left">Compare</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="pt-4 pb-3 bg-black text-center container-fluid">
  <div class="row">
    <div class="col-md-6 text-left"><small class="text-muted">Copyright © 2019 Team Death Eaters aka JIRC</small></div>
    <div class="col-md-6 text-right">
      <ul class="list-inline">
        <li class="list-inline-item social fb"><a href="#"><i class="fab fa-facebook-f icon"></i></a></li>
        <li class="list-inline-item social twitter"><a href="#"><i class="fab fa-twitter icon"></i></a></li>
        <li class="list-inline-item social pinterest"><a href="#"><i class="fab fa-pinterest-p icon"></i></a></li>
        <li class="list-inline-item social google"><a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
        <li class="list-inline-item social github"><a href="#"><i class="fab fa-github icon"></i></a></li>
      </ul>
    </div>
  </div>
</footer>