<video id="bgvid" playsinline autoplay muted loop>
  <source src="https://static.videezy.com/system/resources/previews/000/007/006/original/MR8_8170.mp4"
    type="video/webm">
</video>

{{> frontend.nav}}

{{!-- about us --}}
<section class="container-fluid d-flex p-2 justify-content-center align-items-center">
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <h2 class="text-left animated fadeInRightBig">{{title}}</h2>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FPhoenix&amp;src=dGVhbWRlYXRoZWF0ZXJzMjAxOUBnbWFpbC5jb20&amp;color=%2322AA99&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        
      </div>
    </div>
  </div>
</section>

{{> frontend.footer}}